//
// Primary Header
// --------------------------------------------------

.header {
  opacity: .4;
  transition: opacity .2s;

  width: 100%;
  padding: 30px;
  position: absolute;
  top: 0;

  @include respond-to($screen-md) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &:hover {
    opacity: 1;
  }
}

.header__logo {  
  opacity: .4;
  transition: opacity .2s;
  
  margin: 0 auto;
  max-height: 25px;
  cursor: pointer;
  display: block;

  //IE9
  .ie9 & {
    float: left;
  }

  &:hover {
    opacity: 1;
  }

  @include respond-to($screen-md) {
    margin: 0;
  }
}