//
// Intro Section
// --------------------------------------------------

.intro {
  @include display(flex);
  @include flex-direction(column);
  // @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);

  width: 100%;
  height: 100%;

  background: #1f1d1b url("../images/bg/beach-1.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;

  //IE9
  .ie9 & {
    padding-top: 17%;
    display: block;
  }
}

.intro__byline {
  @include opacity(.6);

  margin: 70px 0 0;
  font-weight: 400;
  color: #fff;
  font-size: 1.4em;
  line-height: 1em;
  text-shadow: 0 0 10px rgba(0,0,0,.7);
  text-transform: uppercase;

  //IE9
  .ie9 & {
    display: block;
  }

  @include respond-to($screen-sm) {
    margin: 0 0 10px;
  }
}

.intro__header {
  margin: 0 0 35px;
  font-weight: 200;
  font-size: 6em;
  line-height: 1em;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,.7);

  //IE9
  .ie9 & {
    display: block;
  }
  
  @include respond-to($screen-sm) {
    font-size: 9em;
  }
}

.friends {
  // background: #2e2e2e;
  background: #2e2e2e url("../images/bg/mountains-1.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  > * {
    z-index: 2;
  }
}

.friends__link {
  @include opacity(.4);
  @include transition(opacity .2s);

  margin: 20px;
  display: inline-block;

  &:hover {
    @include opacity(1);
  }
}

.friends__link__logo {
  max-height: 70px;
}

// Future

.future {
  text-align: center;
}

.future__companies {
  text-align: center;
  max-width: 80%;

  @include respond-to($screen-sm) {
    max-width: 60%;
  }
}

.future__companies__logo {
  @include opacity(.6);
  @include transition(opacity .2s);  

  margin: 15px 30px;
  display: inline-block;

  &:hover {
    @include opacity(1);
  }

  @include respond-to($screen-sm) {
    margin: 50px 20px 0;
  }
}

.future__companies__logo__image {
  max-height: 70px;
}

// Location
.meta-location {
  @include opacity(.2);
  @include transition(opacity .2s, color .2s);

  position: absolute;
  bottom: 2em;
  right: 2em;
  color: #fff;
  font-family: $font-family-sans-serif;

  &:hover {
    @include opacity(1);

    color: $primary-color;
  }
}

.meta-location__link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.primary-button {
  @include transition(all .2s);

  padding: 12px 20px;
  background: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0,0,0,.7);
  box-shadow: 0 0 10px rgba(0,0,0,.3), inset 0 0 10px rgba(0,0,0,.3);
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 0;

  &:hover,
  &:focus {
    color: #e0a000;
    border-color: #e0a000;
    box-shadow: 0 0 25px rgba(0,0,0,.4), inset 0 0 25px rgba(0,0,0,.4);
    text-decoration: none;
  }

  @include respond-to($screen-sm) {
    font-size: 1.8em;
  }
}

.secondary-button {
  @include transition (color .2s, border .2s);

  margin: 10px 0 0;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  color: $gray;
  border: 2px solid $gray;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
    text-decoration: none;
  }
}

// Speaking

.speaking {
  background: #2e2e2e url("../images/bg/valpo.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  min-height: 0;
}

.speaking__block {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 10%;
  
  @include respond-to($screen-md) {
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    color: #000;
  }
}

.speaking__block__left {
  @include respond-to($screen-md) { width: 35%; }
}

.speaking__block__right {
  @include respond-to($screen-md) { width: 60%; }
}

.speaking__block__copy {
  font-size: 1.5em;
}

.speak__block__logo {
  max-height: 90px;
}

.speaking__block__video {
  width: 100%;
  padding: 10%;

  @include respond-to($screen-md) {
    position: relative;
    padding: 30px 0 56.25%;
    height: 0; overflow: hidden;
  }
}
 
.speaking__block__video iframe,
.speaking__block__video object,
.speaking__block__video embed {
  width: 100%;
  height: 100%;

  @include respond-to($screen-md) {
    position: absolute;
    top: 0;
    left: 0;
  }
}