//
// Primary Footer
// --------------------------------------------------

.footer {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);

  background: #111 url("../images/bg/hot-springs.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  position: relative;
  color: #fff;

  @include respond-to($screen-md) {
    padding: 150px 0 30px;
  }

  //IE9
  .ie9 & {
    display: block;
    text-align: center;
  }
}

.footer__social {
  @include opacity(.2);
  @include transition(opacity .2s);

  margin: 0 0 15px;

  &:hover {
    @include opacity(1);
  }
}

.footer__social__link {
  @include transition(color .2s);

  margin: 0 3px;
  color: #fff;
  font-size: 1.5em;
}

.footer__social__link__icon {}

.footer__copyright {
  @include opacity(.2);
  @include transition(opacity .2s);

  color: #aaa;
  font-size: 1.2em;

  &:hover {
    @include opacity(.7);
  }
}

// Contact Form

.contact-form {
  margin: 20px 0 0;
  padding: 40px;
  width: 100%;
  font-family: $font-family-serif;

  @include respond-to($screen-sm) {
    width: 70%;
  }

  @include respond-to($screen-md) {
    margin: 100px 0 0;
    width: 40%;
    min-height: 710px;
  }

  //IE9
  .ie9 & {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.contact-form__label {
  display: none;
}

.contact-form__label__title {
}

.contact-form__required {}

.contact-form__field {
  @include transition(color .2s);
  @include placeholder(rgba(255,255,255,.2));

  width: 100%;
  margin: 0 0 20px;
  padding: 5px 0;
  display: block;
  background: transparent;
  color: #fff;
  color: rgba(255,255,255,.5);
  border: none;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;

  &:focus {
    @include placeholder(rgba(255,255,255,.5));

    color: #fff;
  }

  &:hover {
    @include placeholder(rgba(255,255,255,.5));
  }

  &:-webkit-autofill {
      -webkit-box-shadow:0 0 0 50px #fff inset;
      -webkit-text-fill-color: #000;
  }

  &:-webkit-autofill:focus {
      -webkit-box-shadow: #000,0 0 0 50px white inset;
      -webkit-text-fill-color: #000;
  }
}

.contact-form__field--text-input {
  border-bottom: 2px solid rgba(255,255,255,.2);

  &:last-child {
    // margin: 0;
  }
}

.contact-form__field--textarea {
  @include transition(height .5s);

  margin-bottom: 40px;
  border-bottom: 2px solid rgba(255,255,255,.2);
  
  @include respond-to($screen-md) {
    height: 35px;
  }

  &:focus {
    @include respond-to($screen-md) {
      height: 250px;
    }
  }
}

.contact-form__submit {
  margin: 0 auto;
  width: 100%;
  font-family: $font-family-sans-serif;
  display: block;

  @include respond-to($screen-sm) {
    width: 50%;
  }
}

.contact-form__recaptcha {
  width: 304px;
  margin: 0 auto 30px;
  text-align: center;
  
  @include respond-to($screen-lg) {
    @include transition(opacity .2s);
    @include opacity(.4);
  }

  &:hover {
    @include respond-to($screen-lg) {
      @include opacity(1);
    }
  }
}