//
// Primary Navigation
// --------------------------------------------------

.nav-primary {}

.nav-primary__list {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-primary__list__item {  
  @include opacity(.4);
  @include transition(opacity .2s);

  margin: 0;
  padding: 0 15px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;

  &:hover {
    @include opacity(1);
  }
}