//
// Testimonials
// --------------------------------------------------

.testimonial-block {
  margin: 20px 5%;
  width: 40%;
  float: left;
  display: block;

  &:last-child {
    padding-top: 60px;
    clear: both;
    width: 90%;
    float: none;
  }
}

.testimonial-block__copy {
  font-size: 1.2em;
  position: relative;
}

.testimonial-block__image {
  max-height: 50px;
}

.testimonial-block__author {
  font-size: 2em;
  display: block;
}

.testimonial-block__meta {
  font-size: 1.2em;
  display: block;
  color: $gray;
}