//
// Work
// --------------------------------------------------

.work {
  // @include transition(background-size .4s);
  // @include justify-content(flex-start);

  color: #fff;  
  background: #2e2e2e url("../images/bg/japan-temple.jpg") center center no-repeat;
  background-size: cover;
  min-height: 0;

  // position: relative;
  // background: #2e2e2e url("../images/work/stagelabel-mockup.jpg") center center no-repeat;
}

.work__block {
  padding: 100px 0 0;
  text-align: center;

  @include respond-to($screen-md) {
    padding: 150px 0 0;
  }
}

.work__block__logo {
  margin: 0 auto 100px;
  max-width: 80%;

  @include respond-to($screen-md) {
    max-width: 50%;
  }
}

.work__block__wrapper {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  @include respond-to($screen-md) {
    @include flex-direction(row);
  }
}

.work__block__column {
  padding: 0 10%;

  @include respond-to($screen-md) {
    width: 44%;
    padding: 0 2%;
  }
}

.work__block__column--lhs {}

.work__block__column--rhs {}

.work__block__column--text {
  text-align: center;
}

.work__block--stagelabel {}

.work__block--keepers {
  background: url("../images/work/keepers.png") center center no-repeat;
  background-size: cover;
}

.work__block__wrap {}

.work__block__title {
  margin: 0 0 15px;
  font-size: 3.2em;
  line-height: 1em;
  text-transform: uppercase;
}

.work__block__icons {
  margin: 0 0 15px;
  font-size: 2.5em;

  i {
    margin-right: 5px;
  }
}

.work__block__meta {
  font-family: $font-family-serif;
  font-size: 1.1em;
  display: block;
  font-style: italic;
}

.work__block__copy {
  font-size: 1.5em;

  a {
    color: inherit;
  }
}

.work__block__byline {
  font-size: 1.2em;
  font-style: italic;
}

.work__block__link {
  @include transition (color .2s, border .2s);

  margin: 10px 0 0;
  padding: 10px 25px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2em;
  color: $gray;
  border: 2px solid $gray;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
    text-decoration: none;
  }
}

.work__block__link__icon {
  margin-left: 2px;
  font-size: 80% !important;
}

.work__block__image {
  max-width: 100%;
}

.work__block__image--full-width {
  width: 100%;
}

.work__block__keepers-laptop {
  width: 100%;
  height: 100%;
  
  @include respond-to($screen-lg) {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }
}

.work__block__keepers-laptop__animation {
  margin: 20px 0;
  max-width: 80%;

  @include respond-to($screen-lg) {
    margin: 0;
    max-width: 0;
    position: absolute;
    width: 65.5%;
    left: 17.35%;
    top: 19%;
  }
}