$primary-color: #fff;
$secondary-color: #a4a4a4;
$background-color: #000;
$max-column-width: 70%;
$global-padding: 24px;

// Mixins

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin max-sm {
  @media (max-width: #{$screen-sm-min - 1}) {
      @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Navigation
.nav {
  margin-left: auto;
  margin-right: auto;
  padding: $global-padding;
  position: sticky;
  top: 0;
  background-color: $background-color;

  @include sm {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
  }
}

.nav__title {
  margin-top: 0;
  margin-bottom: 0;
}

.nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -8px;
  padding-left: 0;
  list-style-type: none;
  align-items: center;

  @include max-sm {
    font-size: 14px;
  }

  @include sm {
    margin-right: -8px;
  }

  &__link {
    padding: 4px 8px;
  }

  &__icon {

    @include max-sm {
      position: relative;
      top: 7px;
    }
   
    @include sm {
      display: flex;
      justify-content: center;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

// Layout Container
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-padding;
  padding-right: $global-padding;
}

// Intro Header

.intro {
  font-weight: 400;

  @include max-sm {
    padding-top: 48px;
    padding-bottom: 32px;
    font-size: 36px;
    line-height: 48px;
  }

  @include sm {
    padding-top: 150px;
    padding-bottom: 100px;
    font-size: 42px;
    line-height: 60px;
  }
}

// Hero

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 70px;

  @include max-sm {
    padding-bottom: 80px;
  }

  @include sm {
    padding-bottom: 150px;
  }
}

.hero__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.hero__media__details {
  color: $secondary-color;
}

.hero__headline {
  @include max-sm {
    font-size: 30px;
    line-height: 40px;
  }

  @include sm {
    font-size: 36px;
    line-height: 50px;
  }
}

.hero__byline,
.hero__subline {
  @include max-sm {
    font-size: 20px;
    line-height: 32px;
  }

  @include sm {
    font-size: 26px;
    line-height: 40px;
  }
}

// Two Up (Grid)

.twoup {
  @include max-sm {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 100px;
  }
  
  @include sm {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 150px;
  }
}

.twoup__content {
  &:not(:last-child) {
    padding-bottom: 32px;
  }
}

.twoup__content_muted {
  color: $secondary-color;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;

  &:not(:last-child) {
    padding-bottom: 32px;
  }
}

.twoup__title {
  font-size: 20px;
  margin-top: 0;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background-color: $primary-color;
  }
}

.twoup__external_link {
  font-size: 30px;
}

// Footer

.footer {
  @include max-sm {
    padding-bottom: 48px;
  }

  @include sm {
    padding-top: 32px;
    padding-bottom: 100px;
  }
}

.footer__title {
  font-size: 36px;
  line-height: 50px;
  
  @include sm {
    max-width: $max-column-width;
  }
}

.footer__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  &__item {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &__link {
    color: $secondary-color;
  }
}